<ion-modal-view>
  <ion-header-bar class="bar-calm">
    <h1 class="title">忘記密碼</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeForget()">
        <i class="ion-close-round margin-right-10 text-align-center"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content ng-controller="ForgetPasswordCtrl">
    <div>
      <form name="forget_form">
        <div class="text-align-center padding-20-0 font-size-18">請輸入您的電子信箱</div>
        <div class="list width-90per margin-auto">
          <label class="item item-input item-floating-label">
            <input type="email" name="email" ng-model="email" placeholder="Email" required>
          </label>
        </div>
        <div class="alert" ng-show="forget_form.email.$dirty">
          <div ng-show="forget_form.$error.required">請輸入Email</div>
        </div>
        <div class="alert" ng-show="forget_form.email.$dirty">
          <div ng-show="forget_form.email.$error.email">Email格式錯誤</div>
        </div>

        <input type="button" value="送出" class="button button-calm login_button margin-top-30" ng-click="forgetSubmit()">
      </form>
    </div>
  </ion-content>
</ion-modal-view>
