<ion-modal-view>
  <ion-header-bar class="bar-calm background-B4E065">
    <h1 class="title">事件內容</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeHelp()">
        <i class="ion-close-round margin-right-10 text-align-center"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list" ng-controller="HelpViewCtrl">
      <div id="current_incident_number" style="display: none;"> {{ help.number }}</div>
      <label class="item item-input">
        <i class="icon ion-ios-pricetag margin-right-10 text-align-center font-size-22"></i>
        <span class="input-label">標題</span> {{ help.title }}
      </label>
      <label class="item item-input">
        <i class="icon ion-android-sad margin-right-10 text-align-center font-size-22"></i>
        <span class="input-label">求助者</span>
        <span id="current_incident_asker">{{ help.ID }}</span>
      </label>
      <label class="item item-input">
        <i class="icon ion-android-alert margin-right-10 text-align-center font-size-22"></i>
        <span class="input-label">重要程度</span> {{ help.level }}
      </label>
      <label class="item item-input">
        <i class="icon ion-android-calendar margin-right-10 text-align-center font-size-22"></i>
        <span class="input-label">期限</span> {{ help.date }}
      </label>
      <label class="item item-input">
        <i class="icon ion-android-textsms margin-right-10 text-align-center font-size-22"></i>
        <span class="input-label">說明</span>
        <div>{{ help.illust }}</div>
      </label>
      <label class="item item-input" ng-show="help.status == 'solved'">
        <i class="icon ion-trophy margin-right-10 text-align-center font-size-22"></i>
        <span class="input-label">評分</span>{{ help.rating }}
      </label>
      <input type="button" value="完成事件" class="button button-calm login_button background-43A143 margin-bottom-10" ng-show="help.status == 'unsolved'" ng-click="solveIncident()">
    </div>
  </ion-content>
</ion-modal-view>
