<ion-view view-title="withU">
  <ion-content class="home" scroll="false">
    <!--<ion-refresher pulling-text="" on-refresh="doRefresh()"></ion-refresher>-->
    <div ng-controller="HomeCtrl">
      <h3><div class="logo">WithU</div></h3>
      <div>
        <button class="button button-stable ink-dark home_button" ng-click="helpMe()">HELP ME</button>
        <button class="button button-stable ink-dark home_button" ng-click="centerOnMe()" >HELP OTHERS</button>
      </div>
	  <button class="button button-stable ink-dark home_button" ng-click="callMom()">卡齁阿母</button>
    </div>
  </ion-content>
</ion-view>
