<ion-view view-title="幫幫你">
	<ion-content>
		<ion-pane>
			<div ng-controller="MapCtrl">
				<ion-content ng-init="initialize()">
					<!-- </div><button class="button button-calm" ng-click="tst()">tst</button> -->
					<div id="map" data-tap-disabled="true"></div>
				</ion-content>
				<button class="button button-fab button-fab-bottom-left ink-dark button-calm background-43A143 icon ion-android-refresh" ng-click="doRefresh()"></button>
			</div>
		</ion-pane>

		<!--<ion-footer-bar class="bar-dark" ng-controller="MapTest" ng-init="initialize()">
			<a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
		</ion-footer-bar>-->
	</ion-content>
</ion-view>
