<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm background-B4E065">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button ng-controller="NotificateCtrl" class="button button-clear icon ion-android-notifications" ng-click="notificate()"></button>
        <div id="notification_icon" style="display:none">n</div>
        <button class="button button-clear icon ion-home" href="#/app/home" ng-click="home()"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar id="app_header" class="bar-calm background-B4E065">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/login">
          Login
        </ion-item>
        <!--
        <ion-item menu-close href="#/app/register">
          Register
        </ion-item>

        <ion-item menu-close href="#/app/addincident" class="item-icon-left">
          <i class="icon ion-medkit margin-right-10 font-size-22 color-B4E065"></i>
          啾啾我
        </ion-item>
        <ion-item menu-close href="#/app/map" class="item-icon-left">
          <i class="icon ion-map margin-right-10 font-size-22 color-B4E065"></i>
          幫幫你
        </ion-item>-->
        <ion-item menu-close href="#/app/member" class="item-icon-left">
          <i class="icon ion-clipboard margin-right-10 font-size-22 color-B4E065"></i>
          會員資料
        </ion-item>
        <ion-item menu-close href="#/app/incidentHistory" class="item-icon-left">
          <i class="icon ion-filing margin-right-10 font-size-22 color-B4E065"></i>
          事件紀錄
        </ion-item>
        <ion-item menu-close href="#/app/helpHistory" class="item-icon-left">
          <i class="icon ion-ios-flag margin-right-10 font-size-22 color-B4E065"></i>
          拯救紀錄
        </ion-item>
        <ion-item menu-close href="#/app/shop" class="item-icon-left">
          <i class="icon ion-android-cart margin-right-10 font-size-22 color-B4E065"></i>
          兌換折價券
        </ion-item>
        <ion-item menu-close href="#/app/myCoupon" class="item-icon-left">
          <i class="icon ion-cash margin-right-10 font-size-22 color-B4E065"></i>
          我的折價券
        </ion-item>

        <!--<button class="button button-clear button-stable" style="margin-top:60px" ngclick="logout()">
          讓我登出拜託
        </button>-->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
