<ion-view view-title="折價券商店" ng-controller="ShopCtrl">
  <ion-content>
    <div class="font-size-25 padding-10-20 padding-top-20 color-f2c34b" ng-show="current_category == 1">
      <i class="icon ion-android-restaurant text-align-center"></i>
      飲食
    </div>
    <div class="font-size-25 padding-10-20 padding-top-20 color-f2c34b" ng-show="current_category == 2">
      <i class="icon ion-ios-cart text-align-center"></i>
      生活
    </div>
    <div class="font-size-25 padding-10-20 padding-top-20 color-f2c34b" ng-show="current_category == 3">
      <i class="icon ion-tshirt text-align-center"></i>
      服飾
    </div>
    <div class="font-size-25 padding-10-20 padding-top-20 color-f2c34b" ng-show="current_category == 4">
      <i class="icon ion-android-bus text-align-center"></i>
      交通
    </div>
    <div class="font-size-25 padding-10-20 padding-top-20 color-f2c34b" ng-show="current_category == 5">
      <i class="icon ion-android-film text-align-center"></i>
      娛樂
    </div>
    <div class="list margin-bottom-50">
      <a class="item item-thumbnail-left coupon" name="coupon" ng-repeat="coupon in coupons">
        <img src="img/material2.jpg">
        <div class="font-size-18 margin-bottom-10">{{ coupon.name }}</div>
        <div class="margin-bottom-5">{{ coupon.description }}</div>
        <div class="text-align-right font-size-22">
          <i class="icon ion-ribbon-b margin-right-10 text-align-center font-size-22"></i>{{ coupon.price }}
        </div>
      </a>
    </div>
  </ion-content>
  <div class="tabs-striped tabs-color-balanced">
    <div class="tabs">
      <a id="couponCategory1" class="tab-item active ink-dark" ng-click="couponCategory(1)">
        <i class="icon ion-android-restaurant"></i>
      </a>
      <a id="couponCategory2" class="tab-item ink-dark" ng-click="couponCategory(2)">
        <i class="icon ion-ios-cart"></i>
      </a>
      <a id="couponCategory3" class="tab-item ink-dark" ng-click="couponCategory(3)">
        <i class="icon ion-tshirt"></i>
      </a>
      <a id="couponCategory4" class="tab-item ink-dark" ng-click="couponCategory(4)">
        <i class="icon ion-android-bus"></i>
      </a>
      <a id="couponCategory5" class="tab-item ink-dark" ng-click="couponCategory(5)">
        <i class="icon ion-android-film"></i>
      </a>
    </div>
  </div>
</ion-view>
